.git
.github
.env
.env.*
!.env.example
node_modules
npm-debug.log
yarn-error.log
.phpunit.result.cache
.editorconfig
.prettierignore
.prettierrc
eslint.config.js
phpstan.neon
phpunit.xml
pint.json
tests
README.md
